.card{
  padding: .3em;
  background-color: grey;
  border-radius: .5em;
}

.title{
  padding: .3em;
  text-align: center;
  color: white;
}


.doc{
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
